{% extends "index.twig" %}
{% block body %}
    {{ test }}
    <form action='../shop' method='POST'>
        <input name='fullname' id='fullname' type='text' placeholder='Fullname'>
        <button type='submit'>Login</button>
    </form>
{% endblock %}
